@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

#brand, h4, h5, span, p {
  font-family: 'Montserrat'
}

a {
    color: black;
    text-decoration: none;
  }